// ******************************
// Normalize (ignore me!)
// ******************************
$fonts: Lato, Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
$bg_color: #333;
$font_color: #ccc;
$link_color: #ccc;
$link_hover_color: #aaa;

* {
  &:before,
  &:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}
body {
  color: $font_color;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
  a,
  a:visited {
    color: $link_color;
    text-decoration: none;
  }
  a:hover {
    color: $link_hover_color;
  }
}
// ******************************
// End of Normalize
// ******************************

// For extend styles
%burger_common {
  display: block;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
}
%transition_all_04s_easeinout {
  transition: all 0.3s ease-in-out;
}
%backface_visibility_hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

// Main style
main {
  margin: 0 auto;
  transform-style: preserve-3d;
  transform: perspective(500px);

  #content {
    position: relative;
    top: 0;
    padding: 38vh 10vw 20vh;
    background-color: $bg_color;
    @extend %transition_all_04s_easeinout;
    @extend %backface_visibility_hidden;
  }
  article {
    h1 {
      font-size: 45px;
      font-weight: bold;
      margin: 0 0 100px 0;
    }
  }
}

.burger {
  display: inline-block;
  &.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    // Page overlay on mouseover
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(#000, 0.4);
      pointer-events: none;
      @extend %transition_all_04s_easeinout;
      @extend %backface_visibility_hidden;
      opacity: 0;
    }
  }
  &.box {
    position: fixed;
    width: 40px;
    height: 24px;
    padding: 15px;
    z-index: 3;
  }
  &.inner {
    @extend %burger_common;
    top: 50%;
    margin-top: -2px;
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &::before,
    &::after {
      @extend %burger_common;
      content: "";
    }
    &::before {
      top: -10px;
      transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in-out;
    }
    &:after {
      bottom: -10px;
      transition: bottom 0.1s 0.34s ease-in,
        transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25vw;
  overflow-y: scroll;
  -ms-overflow-style: none;
  text-align: left;
  background-color: #000;
  z-index: 2;
  transform: translateX(-100%);
  @extend %transition_all_04s_easeinout;
  @extend %backface_visibility_hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 80px 0 0;
    transform: translateX(-100%);
    transition: all 0.3s cubic-bezier(0.49, 0.24, 0, 1.32) 0.2s;
    @extend %backface_visibility_hidden;
    li {
      line-height: 1.2;
      a {
        display: block;
        padding: 10px 5vw;
        margin: 12px 0;
      }
    }
  }
}

#nav_check {
  position: absolute;
  visibility: hidden;

  // When the menu has shown
  &:checked {
    & + .burger {
      &.wrapper {
        &::before {
          opacity: 1;
          pointer-events: auto;
        }
      }

      .inner {
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
        transform: rotate(225deg);
        &::before {
          top: 0;
          opacity: 0;
          transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
        }
        &::after {
          bottom: 0;
          transition: bottom 0.1s ease-out,
            transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1),
            -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: rotate(-90deg);
        }
      }
    }

    & ~ nav {
      transform: translateX(0);
      ul {
        transform: translateX(0);
      }
    }

    & ~ main #content {
      transform-origin: left center;
      transform: translateX(15vw) translateZ(-20vw) rotateY(-13deg);
      filter: blur(3px);
    }
  }
}
